<!-- ko with: home -->
<div class="jumbotron">
    <h1>Jobs</h1>   
    <p class="lead"> </p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <table style="width:100%;"><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr><tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr></table>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Apply for Job</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Apply &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Upload CV</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="#">Upload &raquo;</a></p>
    </div>

</div>

<!-- /ko -->
